<a href="https://colab.research.google.com/github/BENMEZIAN/Great-Learning-tutorials/blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Series

In [ ]:
# Define a pandas series
series_a = pd.Series([10, 20, 30, 40, 50])
print(series_a)

# Define a date series
dates_series = pd.date_range('20230101', periods=6)
print("\n",dates_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

 DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

# DataFrames
http://geeksforgeeks.org/pandas/python-pandas-dataframe/

https://www.geeksforgeeks.org/pandas/indexing-and-selecting-data-with-pandas/

In [ ]:
# Create a DataFrame
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']
        }

df = pd.DataFrame(data)
#print(df)

# 1. Column Selection
print(df[['Name', 'Qualification']])
print(df.loc[:,['Name','Qualification']])
print(df.iloc[:,[0,1,2,3,4]]) # all rows, all columns

# 2. Row Selection
# Use loc[]
print("First row data with loc[0]")
print("-------------------------------")
print(df.loc[0])
print("First row data each column alone")
print("-------------------------------")
print("Name : ",df.loc[0,"Name"])
print("Age : ",df.loc[0,"Age"])
print("City : ",df.loc[0,"City"])
print("Address : ",df.loc[0,"Address"])
print("Qualification : ",df.loc[0,"Qualification"])
print(df.loc[0:2]) # rows from 0 to 2

# Use iloc[]
print("First row data with iloc[0]")
print("-------------------------------")
print(df.iloc[0])
print("First row data each column alone")
print("-------------------------------")
print("Name : ",df.iloc[0,0]) # first row, first column
print("Age : ",df.iloc[0,1])
print("City : ",df.iloc[0,2])
print("Address : ",df.iloc[0,3])
print("Qualification : ",df.iloc[0,4])
print("-------------------------------")
print(df.iloc[0,[0,1,2,3,4]]) #
print("-------------------------------")
print(df.iloc[0:2]) # rows from 0 to 2

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd
     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd
     Name  Age    Address           City Qualification
0     Jai   27      Delhi       New York           Msc
1  Princi   24     Kanpur  San Francisco            MA
2  Gaurav   22  Allahabad    Los Angeles           MCA
3    Anuj   32    Kannauj        Chicago           Phd
First row data with loc[0]
-------------------------------
Name                  Jai
Age                    27
Address             Delhi
City             New York
Qualification         Msc
Name: 0, dtype: object
First row data each column alone
-------------------------------
Name :  Jai
Age :  27
City :  New York
Address :  Delhi
Qualification :  Msc
     Name  Age    Address           City Qualification
0     Jai   27      Delhi       New York           Msc
1  Princi   24     Kanpur  San Francisco            MA
2  Gaurav   22  Allahabad    Los Angeles           MCA
First row data with iloc[0]
-------------------------------
Name                  Jai
Age                    27
Address             Delhi
City             New York
Qualification         Msc
Name: 0, dtype: object
First row data each column alone
-------------------------------
Name :  Jai
Age :  27
City :  Delhi
Address :  New York
Qualification :  Msc
-------------------------------
Name                  Jai
Age                    27
Address             Delhi
City             New York
Qualification         Msc
Name: 0, dtype: object
-------------------------------
     Name  Age Address           City Qualification
0     Jai   27   Delhi       New York           Msc
1  Princi   24  Kanpur  San Francisco            MA

In [ ]:
# Working with Missing Data
# 1. Checking for Missing Values using isnull() and notnull()
import pandas as pd

import numpy as np

dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]
        }

df = pd.DataFrame(dict)

df.isnull()

# 2. Filling Missing Values using fillna(), replace() and interpolate() or delete using dropna()
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [ ]:
# Iterating over rows and columns
# Over rows
for i, j in df.iterrows():
    print(i, j)
    print()

print('------------------------------------')
# Over columns
columns = list(df)

for i in columns:
    print (df[i])

0 First Score     100.0
Second Score     30.0
Third Score       NaN
Name: 0, dtype: float64

1 First Score     90.0
Second Score    45.0
Third Score     40.0
Name: 1, dtype: float64

2 First Score      NaN
Second Score    56.0
Third Score     80.0
Name: 2, dtype: float64

3 First Score     95.0
Second Score     NaN
Third Score     98.0
Name: 3, dtype: float64

------------------------------------
0    100.0
1     90.0
2      NaN
3     95.0
Name: First Score, dtype: float64
0    30.0
1    45.0
2    56.0
3     NaN
Name: Second Score, dtype: float64
0     NaN
1    40.0
2    80.0
3    98.0
Name: Third Score, dtype: float64

## Pandas Aggregation Functions
Pandas DataFrames have several built-in functions for aggregation, which allow you to summarize your data. Here are some common ones:

*   `.sum()`: Calculates the sum of values in a column or row.
*   `.mean()`: Calculates the average of values.
*   `.median()`: Calculates the median of values.
*   `.min()`: Finds the minimum value.
*   `.max()`: Finds the maximum value.
*   `.count()`: Counts the number of non-null values.
*   `.std()`: Calculates the standard deviation.
*   `.var()`: Calculates the variance.
*   `.agg()` or `.aggregate()`: Allows you to apply multiple aggregation functions at once.

You can apply these functions to an entire DataFrame, a single column (Series), or grouped data.

In [ ]:
# Do a complete example please
# create dataframe an apply all these above functions

data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']
        }

df = pd.DataFrame(data)
display(df)

# apply these previous agg functions please

print("\nSum of Age:", df['Age'].sum())
print("Mean of Age:", df['Age'].mean())
print("Median of Age:", df['Age'].median())
print("Minimum Age:", df['Age'].min())
print("Maximum Age:", df['Age'].max())
print("Count of Age:", df['Age'].count())
print("Standard Deviation of Age:", df['Age'].std())
print("Variance of Age:", df['Age'].var())

# Using agg() for multiple aggregations
print("\nMultiple aggregations on Age:")
display(df['Age'].agg(['sum', 'mean', 'min', 'max']))

# value_count
print("\nValue counts of Age:")
display(df['Age'].value_counts())

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

Sum of Age: 105
Mean of Age: 26.25
Median of Age: 25.5
Minimum Age: 22
Maximum Age: 32
Count of Age: 4
Standard Deviation of Age: 4.349329450233296
Variance of Age: 18.916666666666668

Multiple aggregations on Age:

sum     105.00
mean     26.25
min      22.00
max      32.00
Name: Age, dtype: float64

Value counts of Age:

Age
27    1
24    1
22    1
32    1
Name: count, dtype: int64